:root {
  --bg-color: #FFF6EC;
  --main-color: #B10B3A;
  --sub-color: #8D8984;
  --main-color-bg: #b10b3a7b;

  --mobile-margin: 5.3rem;
}

.orpheus-pro-regular {
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 1.5rem;
  background-color: var(--bg-color);
  font-family: "Lato";
  line-height: 140%;
}

.title{
  font-family: "orpheuspro";
  font-size: 4rem;
  line-height: 140%;
  text-align: center;
  color: var(--main-color);

  margin-bottom: 0rem;
}

.header{
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;

  gap: 1rem;

  margin-bottom: var(--mobile-margin);
}

.header__stamp{
  height: 2.75rem;
}

.header__subtitle{
  color: var(--sub-color);
}

.header__img{
  margin-top: -1rem;
  grid-row-start: 3;
  height: 18rem;
}

.header__btn{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: var(--main-color);
  border: 0;
  font-size: 1rem;
  color: var(--bg-color);
  font-family: "orpheuspro";
  font-weight: bold;
}

.intro{
  margin-bottom: var(--mobile-margin);
}

.intro__text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__img{
  width: 100%;
  display: flex;
}

.intro__star, .age__star{
  height: 2rem;
}

.antwerp__title{
  height: 7rem;
  font-family: "oprheuspro";
  font-size: 1.25rem;
  color: var(--bg-color);
  font-weight: 100;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/img/antwerp.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.scheldt-pinned {
  height: 100vh;

  background: url(./assets/img/boat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.port-pinned {
  height: 100vh;

  background: url(./assets/img/printstamp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  margin: 0;
}

.scheldt-first, .scheldt-second, .scheldt-third{
  padding: .25rem;
  color: var(--bg-color);
  background-color: var(--main-color-bg);
  margin-bottom: 1rem;
}

.port-first, .port-second, .port-third{
  padding: .25rem;
  color: var(--bg-color);
  background-color: var(--main-color-bg);
  margin-bottom: 1rem;
}

.bookwrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookwrap__img{
  height: 8.25rem;
}

.age{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: var(--mobile-margin);
}

.officina__title{
  width: 7rem;
  font-family: "orpheuspro";
  font-size: 1.5rem;
  color: var(--main-color);
}

.officina__img{
  height: 32rem;
}

.officina__text{
  position: relative;

  display: grid;
  gap: 2rem;
}

.officina__right{
  margin-left: 20%;
}

.officina__sideInfo{
  position: absolute;
  top: 60%;

  font-family: "orpheuspro";
  font-size: 0.87rem;
  color: var(--main-color);
  display: flex;
  flex: row;
  align-items: center;
  transform: rotate(-90deg);
  margin-left: -2.5rem;
}

.officina__sideInfo img{
  height: 2.68rem;
}

.scale__sideInfo {
  position: absolute;
  top: 85%;
  width: 100%;
  left: 50%;

  font-size: 0.62rem;
  line-height: 100%;
  color: var(--main-color);

  display: flex;
  flex-direction: row;
  align-items: center;

  transform: rotate(90deg);
}

.scale__sideInfo img {
  height: 1.5rem;
}

.scale{
  height: 100;
  display: flex;
  align-items: center;
}