:root {
  --bg-color: #FFF6EC;
  --main-color: #B10B3A;
  --sub-color: #8D8984;
  --main-color-bg: #b10b3a7b;
  --dark-bg-color: #141823;
  --dark-title: #F8D3A6;

  --mobile-margin: 5.3rem;
}

.orpheus-pro-regular {
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: var(--bg-color);
  font-family: "Lato";
  line-height: 140%;
}

.title {
  font-family: "orpheuspro";
  font-size: 4rem;
  line-height: 140%;
  text-align: center;
  color: var(--main-color);

  margin-bottom: 0rem;
}

/* margins ------------------------------------------------------------------ */
.header,
.intro,
.officina,
.printingpress,
.plantin,
.moretus,
.bookwrap,
.age {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: var(--mobile-margin);
}

/* header section ------------------------------------------------------------------ */

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;

  gap: 1rem;
}

.header__stamp {
  height: 2.75rem;
}

.header__subtitle {
  color: var(--sub-color);
}

.header__img {
  margin-top: -1rem;
  grid-row-start: 3;
  height: 18rem;
}

.header__btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: var(--main-color);
  border: 0;
  font-size: 1rem;
  color: var(--bg-color);
  font-family: "orpheuspro";
  font-weight: bold;
}

/* intro section ------------------------------------------------------------------ */

.intro__title,
.plantin__title,
.moretus__title {
  font-family: "oprheuspro";
  font-size: 2.5rem;
  color: var(--main-color);

  display: flex;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.intro__text {
  height: 100%;
  border: solid var(--main-color) 4px;
  border-bottom-right-radius: 10rem;
  padding: .25rem;
}

.intro__border {
  border: solid var(--main-color) 2px;
  border-bottom-right-radius: 10rem;

  padding: .8rem;
  margin: .5rem;
  /* padding-bottom: 2rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.intro__img {
  width: 100%;
  display: flex;
}

.intro__star,
.age__star,
.plantin__star,
.moretus__star {
  height: 2rem;
}

/* antwerp section ------------------------------------------------------------------ */

.antwerp {
  background-color: var(--main-color);
  padding-top: 2rem;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  overflow: hidden;
}

.antwerp__title {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  height: 7rem;

  font-family: "oprheuspro";
  font-size: 1.25rem;

  color: var(--bg-color);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/img/antwerp.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 2rem;
}



.scheldt-pinned,
.port-pinned {
  height: 100vh;
  max-width: 100%;
  position: relative;

  margin-left: 1.5rem;
  margin-right: 1.5rem;

  overflow: hidden;

  margin-bottom: 2rem;
}

.scheldt__img,
.port__img {
  max-width: 21.3rem;
  position: absolute;

  z-index: -1;

  top: 10rem;
}

.scheldt__text,
.port__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scheldt-first,
.scheldt-second,
.scheldt-third,
.port-first,
.port-second,
.port-third {
  width: 21rem;
  color: var(--bg-color);
  background-color: var(--main-color-bg);
}

.bookwrap {
  display: grid;
  align-items: center;
  justify-items: center;
}

.bookwrap__img {
  height: 8.25rem;
}

.age {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: solid var(--bg-color) 4px;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  padding: 2rem;
}

/* officina plantiniana section ------------------------------------------------------------------ */

.officina {
  margin-bottom: var(--mobile-margin);
}

.officina__title {
  width: 7rem;
  font-family: "orpheuspro";
  font-size: 1.5rem;
  color: var(--main-color);
}

.officina__img {
  height: auto;
  width: 100%;
}

.officina__text {
  position: relative;

  display: grid;
  gap: 2rem;
}

.officina__right {
  margin-left: 20%;
}

.officina__sideInfo {
  position: absolute;
  top: 60%;

  font-family: "orpheuspro";
  font-size: 0.87rem;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(-90deg);
  margin-left: -2.5rem;
}

.officina__sideInfo img {
  height: 2.68rem;
}

.scale__sideInfo {
  position: absolute;
  top: 85%;
  width: 100%;
  left: 50%;

  font-size: 0.62rem;
  line-height: 100%;
  color: var(--main-color);

  display: flex;
  flex-direction: row;
  align-items: center;

  transform: rotate(90deg);
}

.scale__sideInfo img {
  height: 1.5rem;
}

.scale {
  height: 100%;
  display: flex;
  align-items: center;
}

.officina__polyglot {
  margin-top: 3rem;
}

.polyglot__title {
  font-family: "orpheuspro";
  font-size: 1.5rem;
  color: var(--main-color);
}

.polyglot__section {
  padding: 1rem;
  border: solid var(--main-color) 4px;
  border-radius: 0.62rem;

  display: grid;
  align-items: center;
  justify-items: center;
}

.polyglot__img {
  width: 12.25rem;
  transform: rotate(-90deg);
}

/* printer section ------------------------------------------------------------------ */

.printing {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.printingpress__leftside,
.printingpress__rightside {
  font-family: "orpheuspro";
  color: var(--main-color);
  font-size: 2rem;

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1rem;
}

.printingpress__leftside {
  transform: rotate(-90deg);
  left: -8rem;
}

.printingpress__rightside {
  transform: rotate(90deg);
  right: -8rem;
}

.printingpress__leftside img,
.printingpress__rightside img {
  height: 1.37rem;
}

.printer-container {
  margin-left: 2rem;
  margin-right: 2rem;

  height: 75%;
  border: solid var(--main-color) 4px;
  border-radius: 8.1rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.printer {
  position: absolute;
}

.printer img {
  height: 12.8rem;
}

.drag {
  margin-top: var(--mobile-margin);
  margin-bottom: var(--mobile-margin);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.drag__sub {
  color: var(--sub-color);
  font-size: 0.87rem;
  width: 16.25rem;
}

.drag__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.drag__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.drag__img img {
  height: 6rem;
}

.drag__options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

/* plantin section ------------------------------------------------------------------ */

.plantin__img {
  width: 100%;
  margin: 0;
}

.plantin__text {
  border: solid var(--main-color) 4px;
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  padding: .25rem;
}

.plantin__border {
  border: solid var(--main-color) 2px;
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;

  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* trouble section ------------------------------------------------------------------ */

.trouble {
  background-color: var(--dark-bg-color);
  color: var(--bg-color);

  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding-bottom: 3rem;
  margin-bottom: var(--mobile-margin);
}

.trouble__title {
  padding-top: 3rem;

  font-family: "oprheuspro";
  font-size: 1.25rem;
  color: var(--main-color);

  display: flex;
  justify-content: center;
}

.trouble__heresy,
.trouble__fleeing,
.trouble__letter,
.trouble__burn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  border: solid var(--main-color) 4px;
  border-top-right-radius: 10rem;
  border-top-left-radius: 10rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.trouble__fleeing,
.trouble__letter {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.trouble__burn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.heresy__small {
  font-size: 0.62rem;
}

.heresy__img,
.flee__img,
.letter__img,
.burn__img {
  height: 10.93rem;
}

.trouble__sub {
  font-family: "orpheuspro";
  font-size: 1.5rem;
  color: var(--dark-title);
}

.trouble__periods {
  margin-top: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.periods__title__container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.periods__title__container img {
  height: 1.75rem;
}

.periods__title {
  font-family: "orpheuspro";
  font-size: 1.5rem;
}

/* moretus section ------------------------------------------------------------------ */

.moretus__img {
  width: 100%;
}

.moretus__text {
  border: solid var(--main-color) 4px;
  border-bottom-left-radius: 10rem;
  padding: .25rem;
}

.moretus__border {
  border: solid var(--main-color) 2px;
  border-bottom-left-radius: 10rem;

  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* responsive ------------------------------------------------------------------ */

@media screen and (min-width: 64rem) {
  .title {
    font-size: 8.75rem;
    text-align: center;
    width: 43.56rem;
  }

  .intro {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    align-content: center;
  }

  .intro__title {
    grid-column-start: 2;
    align-self: flex-end;
  }

  .intro__img {
    height: 48rem;
    max-height: 58rem;
    width: auto;

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
  }

  .intro__text {
    border: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .intro__border {
    min-height: 22rem;

    outline: 4px solid var(--main-color);
    outline-offset: .5rem;
  }

  .antwerp__title {
    max-height: 26.62rem;

    font-size: 3rem;
    display: flex;
    align-content: center;
    justify-items: center;
  }

  .scheldt-pinned,
  .port-pinned {
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
  }

  .scheldt__img {
    grid-column-start: 2;
  }

  .scheldt__text {
    grid-row-start: 1;
  }

  .scheldt__img,
  .port__img {
    position: relative;
    top: auto;
  }

  .port__img {
    grid-column-start: 1;
  }

  .bookwrap {
    grid-template-columns: 50% 50%;
    color: var(--bg-color);
  }

  .bookwrap__text {
    grid-column-start: 1;
    grid-row: 1;
  }

  .bookwrap__img {
    grid-column-start: 2;
    /* max-width: 13.62rem; */
  }

  .age {
    flex-direction: row;
  }

  .age__text{
    max-width: 44.56rem;
  }
}